@import "./UsefulCSS.min.less";

/*
 ================== Base ==================
*/
body, html {
    min-height: 100%;
}
body{
    background: url('../image/bg.jpg') transparent center no-repeat;
    background-size: cover;
}

/*
 ====================== mt-70 ======================
*/
.mt-70{
    margin-top: 70px;
    &.col-12{
        background: rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(0, 0, 0, 0.02);
        border-radius: 3px;
    }
}

/*
 ====================== form ======================
*/
#form{
    background-color: #f4f4f4;
    border: 2px solid rgba(255, 255, 255, 0.15);
    & .fas,
    & .far{
        color: #c3c3c3;
        padding: 2px 0 2px 10px;
        right: 12px;
        border-left: 1px solid #e4e4e4;
        z-index: 1;
    }
    & .fa-eye{
        left: 8px !important;
        &,
        &-slash{
            left: 7px;
            right: auto;
            cursor: pointer;
            padding: 2px 0;
            display: none;
            border-left: none;
        }
    } // .fa-eye
    & .fa-envelope{
        right: 11px;
        padding-left: 9px;
    }
    & .fa-phone-square{
        font-size: 1.0625rem; // 17px 
        padding: 2px 0 2px 9px;
    }
    & input{
        font-size: 0.8125rem; // 13px 
        padding: 5px 46px 5px 10px;
        display: block;
        width: 100%;
        color: #9c9c9c;
        background: #f6f6f6;
        border: 1px solid #fff;
        outline: 1px solid #c6c6c6;
        transition: border-color, outline-color .15s ease-in-out;

        .placeholder({color: #c0c0c0;});

        &:focus{
            outline-color: var(--primary);
            border-color: rgba(0, 123, 255, 0.3);
            & ~ .tip{
                visibility: visible;
                opacity: 1;
                transform: scale(1);
            }
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px #f6f6f6 inset !important;
            -webkit-text-fill-color: #9c9c9c !important;
        }
    }
} // #form


/*
 ====================== invalid ======================
*/
#form .invalid{
    & input{
        outline-color: var(--danger);
        border-color: rgba(220, 53, 69, 0.4);
        background-color: #fde8e8;

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px #fde8e8 inset !important;
        }
    }
} // .invalid


/*
 ====================== success ======================
*/
#form .success{
    & input{
        outline-color: var(--success);
        border-color: rgba(40, 167, 69, 0.4);
        background-color: #e8f0fd;

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px #e8f0fd inset !important;
        }
    }
} // .success

/*
 ====================== tip ======================
*/
#form .tip{
    width: 85%;
    z-index: -10;
    bottom: 40px;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    .transform-style(preserve-3d);
    .scale(0.7);
    .user-select(none);
    .transition(all 0.2s linear);
    text-align: center;
    margin: 0 auto;

    &.show{
        z-index: 1000;
    }

    &.bottom{
        bottom: auto !important;
        top: 40px;
        
        & > div{
            &::after{
                top: -9.9px;
                bottom: auto;
                right: 0;
                left: 0;
                margin: 0 auto;
                border-right: 9px solid #0000;
                border-left: 9px solid #0000;
                border-top: none;
                border-bottom: 10px solid #343a40e6;
            }
        }
    }

    & > div{
        bottom: 40px;
        text-align: right;
        display: inline-block;
        background: rgba(52, 58, 64, .9);
        font-size: .65rem;
        color: var(--light);
        padding: .7rem;
        padding-bottom: 1rem;

        &::after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: auto;
            bottom: -9.9px;
            right: 0;
            left: 0;
            margin: 0 auto;
            border-right: 9px solid #0000;
            border-left: 9px solid #0000;
            border-top: 10px solid #343a40e6;
            border-bottom: none;
        }
    }

    & p{
        font-weight: bold;
    }

    & li{
        &:extend(#error ul li);

        &::before{
            content: '\2022';
            font-size: 1.5rem;
            overflow: hidden;
            display: inline-block;
            position: absolute;
            top: -7px;
            right: -5px;
        }

        :not(:last-child){
            padding-bottom: .25rem;
        }
    }
} // .tip

/*
 ====================== error ======================
*/
#error{
    top: auto;
    bottom: 10px;
    right: 10px;
    max-width: 70%;
    min-width: 25%;
    z-index: 1000;

    & ul{
        background: rgba(244, 67, 54, .9);
        border: 1px solid rgba(255, 255, 255, .2);
        padding: 8px 18px 8px 45px;
        margin-top: 9px;
        line-height: 1.5rem;
        font-size: .75rem;
        .box-shadow(0 0 6px 1px rgba(0,0,0,.3));
        color: rgba(255, 255, 255, .9);
        position: relative;
        .border-radius(4px);
        .animation(show-msg 1s forwards, hide-msg 0.8s 5s forwards;);
        .translateY(100px);
        .user-select(none);

        &::after{
            content: '\f071';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            font-size: 1.6rem;
            opacity: .5;
            position: absolute;
            top: 50%;
            left: 10px;
            .translateY(-50%);
        }

        & li{
            position: relative;
            padding-right: 8px;

            &::before{
                content: '\2022';
                font-size: 1.5rem;
                overflow: hidden;
                display: inline-block;
                position: absolute;
                top: 3px;
                right: -5px;
            }
        }
    }
} // #error



/*
 ====================== keyframes ======================
*/
.keyframes(show-msg; {from {.opacity(0);.translateY(100px);}to {.opacity(1);.translateY(0);}});
.keyframes(hide-msg; {from {.opacity(1);.translateY(0);}to {.opacity(1);.translateX(150px);}});